@font-face {
    font-family: "HelveticaNeueLTProLt";
    src: url(../fonts/HelveticaNeueLTProLt.woff) format("woff");
  }

  @font-face {
    font-family: "HelveticaNeueLTProMd";
    src: url(../fonts/HelveticaNeueLTProMd.woff) format("woff");
  }

  @font-face {
    font-family: "HelveticaNeueLTProRoman";
    src: url(../fonts/HelveticaNeueLTProRoman.woff) format("woff");
  }

  @font-face {
    font-family: "Merriweather-LightItalic";
    src: url(../fonts/Merriweather-LightItalic.woff) format("woff");
  }

  @font-face {
    font-family: "Montserrat-Light";
    src: url(../fonts/Montserrat-Light.woff) format("woff");
  }

  @font-face {
    font-family: "Montserrat-Regular";
    src: url(../fonts/Montserrat-Regular.woff) format("woff");
  }

  @font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto-Regular.woff) format("woff");
  }
/* Style */
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
header{
  margin-bottom: 207px; 
}
.header__content {
    text-align: center;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__title {
    font-family: HelveticaNeueLTProLt;
    font-size: 44px;
    line-height: 41px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #1d1e1f;
    margin: 207px auto 6px;
}

.header__text {
    font-family: "Merriweather-LightItalic", ;
    font-size: 16px;
    line-height: 17px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.03em;
    color: #898888;
    margin: 0 auto 68px;
}

.header__button {
    font-family: Montserrat-Regular;
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #000000;
    text-decoration: none;
    padding: 25px 50px;
    border: 1px solid #000000;
}

.header__button a{
    text-decoration: none;
}

.menu_item:last-child a{
    margin-right: 0;
}

.logo{
    margin: 0 16px;
}

.menu_item a {
    font-family: "Roboto-Regular";
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #989696;
    text-decoration: none;
    margin-right: 43px;
    transition: .3s;
}
.active a, .menu_item a:hover{
    color: #010101;
}
.menu__mobile {
  display: none;
}
/* About Section */
.about{
  height: 1129px;
  background-color: #1d1d1d;
  padding-top: 128px;
  padding-bottom: 271px;
  background-image: url(../img/build.png),
  url(../img/build_dark.png);
  background-position-y: 101%;
  background-repeat: repeat-x;
}
.about__inner{
display: grid;
grid-template-rows: max-content max-content;
grid-template-columns: max-content max-content;
grid-gap: 178px;
place-content: center center;
}
.about__item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 417px;
  height: 276px;
  background-color: #181818;
}
.about__year{
  font-family: HelveticaNeueLTProLt;
  font-size: 48px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #fefefe;
  margin-bottom: 27px;
}
.about__text{
  font-family: Montserrat-Regular;
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #b7b7b7;
  text-align: center;
}
/* Team */
.team {
  height: 745px;    
}
.block__head {
  text-align: center;
}
.block__title {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #1d1e1f;
  margin: 0;
  padding-top: 138px;
  margin-bottom: 13px;
}
.block__text {
  font-family: "Merriweather-LightItalic", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 0.02em;
  color: #898888;
  margin: 0;
}
.team__inner {
  display: flex;
  justify-content: space-around;
  padding-top: 127px;
}
.team__item {
  text-align: center;
}
.team__item-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 29px;
}
.team__item-img[alt="Team1"]{
  object-position: center right;
}
.team__item-title {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #464646;
  margin: 0;
  margin-bottom: 7px;
}
.team__item-text {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #b3b3b3;
  margin: 0;
  margin-bottom: 21px;
}
.team__icon-box a {
  padding: 0 14px;
  font-size: 20px;
  color: #e4e4e4;
  transition: 0.2s;
}
.team__icon-box a:hover {
  color: #949494;
}
/* Services */

.services{
  background-color: #181818;
  height: 900px;
}
.services_head {
  text-align: center;
}
.services__title {
  font-family: HelveticaNeueLTProLt;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin: 0;
  padding-top: 138px;
  margin-bottom: 13px;
  
}
.services__text {
  font-family: Merriweather;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #777777;
  margin: 0;
  margin-bottom: 13px;
}
.services__inner {
 
  display: flex;
  justify-content: space-between;
  padding-top: 127px;
}
.services__item {
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;

}
.services__item-img {
  object-fit: cover;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin-bottom: 29px;
}
.services__item-title {
  font-family: HelveticaNeueLTProLt;
  font-size: 26px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #fff;
  margin: 0;
  margin-top: 43px;
}
.services__item-text {
  font-family: HelveticaNeueLTProLt;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #383838;
  margin: 0 auto;
  margin-top: 31px;
  
}
.circle{
display: flex;
align-items: center;
margin: 0 auto;
width: 170px;
height: 170px;
border: 4px solid #ffffff;
border-radius: 50%;
}
.icon-heart, .icon-chart-line, .icon-upload-cloud-outline{
  margin: 0 auto;
  color: white;
  font-size: 64px;
}

/* Contact */
.contact .block__head .block__title {
  padding-top: 95px;
}
.contact__icon-box {
  display: flex;
  justify-content: space-between;
  max-width: 570px;
  margin: 0 auto;
  padding-top: 64px;
}
.contact__item {
  text-align: center;
  width: 130px;
}
.contact__item i {
  color: #323232;
  font-size: 21px;
}
.contact__text {
  margin-bottom: 12px;
}
.contact__text a {
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #898888;
  text-decoration: none;
  transition: 0.3s
}
.contact__text a:hover {
  color: #4b4b4b;
  text-decoration: underline;
}

.contact__form {
  padding-top: 153px;
  display: flex;
  flex-direction: column;
  max-width: 770px;
  margin: 0 auto;
}
.contact__form input {
  height: 52px;
  padding: 20px;
  text-align: center;
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #898888;
  border: 1px solid #999999;
}
.contact__name {
  margin-bottom: 20px; 
}
.contact__email {
  margin-bottom: 20px;
}
.contact__number {
  margin-bottom: 18px;
}
.contact__textarea {
  padding: 22px;
  margin-bottom: 21px;
  height: 195px;
  resize: none;
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #898888;
  border: 1px solid #999999;
}
.contact__form .contact__button {
  cursor: pointer;
  padding: 0;
  outline: none;
  border: none;
  background-color: #161616;
  font-family: "HelveticaNeueLTProMd", sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #fefefe;
}
.footer {
  padding-top: 154px;
}
.footer__text {
  text-align: center;
  font-family: "HelveticaNeueLTProLt", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #3b3b3b;
  margin-bottom: 29px;
}
.menu__burger {
  display: block !important;
  overflow: hidden;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  font-size: 0;
  border-radius: 5px;
  position: relative;
}
/* Media */
@media screen and (max-width: 769px) {
  .container {
    max-width: 768px;
  }
  .about {
      height: auto;
      padding-bottom: 200px;
  }
  .about__inner {
      grid-gap: 30px;
      grid-template-columns: max-content;
  }
  .services {
      padding-bottom: 100px;
  }
  .team .block__title,
  .services .block__title {
      padding-top: 100px;
  }
  .services__inner {
      flex-wrap: wrap;
      justify-content: center;
  }
  .services__item {
      max-width: 300px;
      margin: 0 30px 40px;
  }
  .contact__form {
      padding-top: 100px;
  }
  .footer {
      padding-top: 30px;
  }
}

@media screen and (max-width: 376px) {
  .container {
      max-width: 375px;
  }

  .menu__burger {
      display: block !important;
      overflow: hidden;
      cursor: pointer;
      margin: 0;
      padding: 0;
      width: 40px;
      height: 40px;
      font-size: 0;
      border-radius: 5px;
      position: relative;
  }
  .menu__burger span {
      display: block;
      position: absolute;
      background-color: #000;
      height: 4px;
      width: 30px;
      top: 18px;
      left: 5px;
      right: 5px;
  }
  .logo {
      margin: 0 -15px;
  }
  .menu__desktop {
      display: none;
  }
  .menu__mobile {
      display: flex;
      flex-direction: column;
  }
  .menu__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .menu {
      display: none;
      text-align: center;
  }
  .menu li {
      padding: 10px 0;
  }
  .menu a {
      margin: 0;
  }
  .menu__burger span:after,
  .menu__burger span:before  {
      position: absolute;
      display: block;
      height: 4px;
      width: 100%;
      background-color: #000;
      content: '';
      transition: .3s;
  }
  .menu__burger span:after {
      top: -10px;
  }
  .menu__burger span:before {
      bottom: -10px;
  }   
  .menu__burger.close span {
      background: none;
  }
  .menu__burger.close span:after {
      top: 0px;
      transform: rotate(45deg);
  }
  .menu__burger.close span:before {
      bottom: 0px;
      transform: rotate(-45deg);
  }  
  .header__title {
      padding-top: 100px;
      margin-bottom: 30px;
  }
  .header__button {
      margin-bottom: 100px;   
  }
  .about__item {
      max-width: 340px;
  }
  .team {
      height: auto;
      padding-bottom: 80px;
  }
  .team__inner {
      padding-top: 100px;
      flex-wrap: wrap;
  }
  .team__item {
      width: 340px;
  }
  .services__inner {
      padding-top: 100px;
  }
}